<div class='container favorite-index'>
<h1>Trending Beers:</h1>

<ul>
<% @favorites.each do |f| %>
    <li><%= f.beer.name %><br>
    <%= link_to f.user.username, user_path(f.user_id) %><br></li>
<% end %>
</ul>
</div>