<div class='container favorite-index'>
<h1>Trending Beers:</h1>

<ol>
<% @favorites.each do |f| %>
    <li><%= f.beer.name %> - <%= link_to f.user.username, favorite_path(f) %></li>
<% end %>
</ol>
</div>