<h1>Welcome to the Home Page</h1>

<div class='flex-container container'>
    <div class='flex-item'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

    </div>


    <div class='flex-item'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

    </div>
</div>

<div class='container'>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta nemo iure, laboriosam ea dolor atque est temporibus, iusto officia eveniet sequi, distinctio porro minus repellat a! Eligendi, non quis!</p>

</div>