<h1>Welcome to the Home Page</h1>

<div class='flex-container'>
    <div class='flex-item'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

    </div>


    <div class='flex-item'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis exercitationem, delectus aliquid minima accusantium labore iusto iure commodi suscipit recusandae aspernatur, doloribus id. Sint asperiores dolorem iusto ex esse.</p>

    </div>
</div>

<div class='container'>
<h3>Mission:</h3>
<p>The Beerádex™ is a tool that aims to be used by any such person that shares our common goal: leave no beer unknown to those that seek it.</p>
<p>Listen, we get it, there's a potentially infinite amount of beers out there in the world. From large-scale, international breweries to your next door neighbors craft-IPA that he swears he got right this time - we want to try them all.</p>
<p>Since we recognize how hard it would be to keep track of all of that, we set out to create a tool that would allow our users to connect with a database that is ever-changing.</p>
<p>So, here we are, passing on to you the responsibility to help us, the beer drinkers of the world, to complete the database and teach each other about the different types of beer that is out there and the breweries that are deserving of our attention.</p>
<p>Good luck! Please drink responsibily.</p>

</div>