<div class='container brewery-index'>
<h1>Breweries:</h1>
<section>
<% @breweries.each do |b| %>
<p><%= link_to b.name, brewery_path(b), class: "a-primary" %> - <%= b.state %><br></p>
<% end %>
</section>
</div>