/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* html {
  background-image: url('https://i.imgur.com/qdJVlGR.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("https://i.imgur.com/qdJVlGR.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a {
   padding: 15px; 
  /* text-decoration: none; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: wheat;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
}


li a:hover:hover:not(.active) {
  background-color: goldenrod;
}



.container {
  width: 75%;
  margin: auto;
  background-color: wheat;
  color: #333;
  border-radius: 15px;
  padding: 5px

}

.container p {
  margin: 5px;
  padding: 5px
}

.container h3 {
  margin: 0px;
}

.beer-index {
  background-color: wheat;
  margin: auto;
  margin-top: 10px
}

.beer-index a {
  color: #333;
}

.beer-index h1 {
  color: #333;
  margin: 5px
}

.beer-index p {
  color: #333
}

.beer-new {
  background-color: wheat;
  color: #333;
}

.beer-new h1 {
  color: #333;
}

.brewery-index {
  background-color: wheat;
  color: #333;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px
}

.brewery-index #link_to {
  color: #333;
}

.a-primary{
  color: #333;
  
}

.brewery-new {
  background-color: wheat;
  color: #333;
  margin: auto;
  margin-top: 10px;

}

.brewery-show {
  background-color: wheat;
  color: #333
}

.user-new {
  background-color: wheat;
  color: #333;
  margin: 10px 0 0 120px;
}

.favorite-new {
  background-color: wheat;
  color: #333;
  margin: 10px 0 0 120px;

}

.favorite-new li {
  background-color: wheat;
  color: #333;
}

.favorite-index {
  background: wheat;
  color: #333;
}

.favorite-index li {
  background-color: wheat;
  color: #333;
}


.flex-container {
  display: flex;  
  border-radius: 15px;
  align-content: center;

}

.flex-item{
  margin: auto;
  margin-top: 10px;
  background-color: wheat;
  color: #333;
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
  align-content: center;

}


.flex-item h3{
  margin: 15px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
}

.flex-item p {
  margin: 15px;
  text-align: center;
  align-content: center;
}

.home-container h1 {

  text-align: center;

}
 
.nav-bar li {
  font-weight: bold;
}

.nav-bar{

  border-radius: 15px;

}

.nav-bar a {
  text-decoration: none;
}