/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* html {
  background-image: url('https://i.imgur.com/qdJVlGR.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("https://i.imgur.com/qdJVlGR.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a {
    
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:hover:not(.active) {
  background-color: goldenrod;
}


.container {
  width: 75%;
  margin: auto;
  background-color: #333;
  color: azure;

}

.beer-index {
  background-color: #333;
  
}

.beer-index h1 {
  color: azure;
}

.beer-index p {
  color: azure
}

.beer-new {
  background-color: #333;
  color: azure
}

.beer-new h1 {
  color: azure
}

.brewery-index {
  background-color: #333;
  color: azure
}

.brewery-index #link_to {
  color: azure;
}

.a-primary{
  color: azure;
  
}

.brewery-new {
  background-color: #333;
  color: azure;
}

.brewery-show {
  background-color: #333;
  color: azure
}

.user-new {
  background-color: #333;
  color: azure
}

.favorite-new {
  background-color: #333;
  color: azure
}

.favorite-new li {
  background-color: #333;
  color: azure;
}

.favorite-index {
  background: #333;
  color: azure;
}

.favorite-index li {
  background-color: #333;
  color: azure;
}


.flex-container {
  display: flex;  
}

.flex-item {
  margin: 50px;
  background-color: #333;
  color: azure;

}

 